html,
body {
  background-color: hsl(36, 100%, 99%);
  font-family: "Poppins", sans-serif;
}

p {
  line-height: 1.5rem;
  font-weight: 400;
  font-size: 1rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  overflow: hidden;
}

a {
  font-size: 1.2rem;
}

button {
  font-size: 1.2rem;
  cursor: pointer;
}

/* HEADER, NAVBAR AND BURGER MENU*/

.background-color {
  position: absolute;
  background-color: rgb(240, 241, 246);
  top: 50%;
  height: 100vh;
  width: 150%;
  left: -25%;
  z-index: -1;
}

section,
footer,
button,
h2,
p {
  z-index: 2;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 40px 0 40px 0;
  width: 80%;
}

.nav-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links-container svg {
  min-width: 130px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  width: 80%;
}
.navbar {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
}

.nav-links-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-btns-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar ul li,
.nav-item {
  margin-left: 20px;
  padding-right: 20px;
}

.nav-item:nth-of-type(1) {
  margin-left: 40px;
}

.navbar ul li a,
.nav-item {
  font-weight: 400;
  color: hsl(257, 7%, 63%);
  transition: all 250ms ease-in-out;
}

.navbar ul li a:hover {
  color: hsl(5, 85%, 63%);
  cursor: pointer;
}

.elliptic-btn {
  color: white;
  background-color: hsl(180, 66%, 49%);
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  font-weight: 700;
}

.sign-up-btn {
  margin-left: 20px;
}

.toggle-btn {
  display: none;
  border: none;
  cursor: pointer;
  position: absolute;
  height: 36px;
  width: 2em;
  padding: 0;
  background-color: hsl(36, 100%, 99%);
}

.hamburger {
  display: block;
  position: absolute;
  background-color: black;
  transition: transform 250ms ease-in-out;
  width: 2em;
  height: 3px;
}

.bar-2 {
  top: 6px;
}

.bar-3 {
  top: 12px;
}

.close-btn .bar-1 {
  rotate: 45deg;
  top: 12px;
}

.close-btn .bar-3 {
  rotate: -45deg;
  top: 12px;
}

.close-btn .bar-2 {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.bar-1,
.bar-3 {
  transition: rotate 250ms ease-in-out;
}

.overlay-div {
  transition: all 300ms ease-in-out;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 26, 0.485);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.7;
}

.hero {
  align-self: flex-end;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
}

.hero h1 {
  color: hsl(255, 11%, 22%);
  font-size: 5rem;
  font-weight: 700;
}

.hero p {
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: hsl(257, 7%, 63%);
}

.hero-description {
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
}

.get-started-btn {
  width: fit-content;
}

.hero-img-container {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  height: 550px;
}

.image-crop-container {
  display: flex;
  align-items: center;
  position: relative;
  align-self: end;
  height: 100%;
  width: 100%;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: none;
}

.shorten-link-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.shorten-link-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  background-image: url(./images/bg-shorten-desktop.svg);
  background-color: hsl(255, 11%, 22%);
  border-radius: 10px;
  position: relative;
}

.shorten-link-form form {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.shorten-link-form input {
  display: flex;
  width: 60%;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  padding: 0px 15px 0px 15px;
}

.shorten-btn {
  max-width: 150px;
  padding: 15px 25px;
  border-radius: 8px;
  font-size: 1.1rem;
}

.shortened {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  margin: 20px 0px 20px 0px;
  border-radius: 8px;
  max-height: 500px;
  min-height: 100px;
}

.short-links-container {
  width: 100%;
}

.short-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}

.long-link {
  max-width: 500px;
  padding: 20px;
  word-break: break-all;
}

.copy-btn {
  margin-left: 10px;
}

.copy-btn-clicked {
  background-color: hsl(260, 8%, 14%);
  color: white;
}

.statistics-banner {
  margin-top: 2.5rem;
  text-align: center;
}

.statistics-banner h2 {
  font-size: 2rem;
  font-weight: 700;
}

.statistics-banner p {
  margin-top: 1rem;
  color: hsl(257, 7%, 63%);
}

.dashboard-grid-infoboard {
  margin-top: 4.5rem;
  width: 80%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.infoboard-article {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  padding: 20px;
  max-height: 0;
  min-height: 220px;
}

.infoboard-article img {
  height: 40px;
  width: 40px;
  background-color: hsl(260, 8%, 14%);
  padding: 20px;
  border-radius: 50%;
  position: absolute;
  top: -40px;
}

.infoboard-article h3 {
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.infoboard-article p {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 500;
  color: hsl(257, 7%, 63%);
}

.infoboard-article span {
  position: absolute;
  background-color: hsl(180, 66%, 49%);
  height: 1rem;
  width: 2rem;
  right: -2rem;
  top: 50%;
}

.lowered-article-1 {
  margin-top: 4rem;
}

.lowered-article-2 {
  margin-top: 8rem;
}

.show-more-btn {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  color: black;
  font-size: 1rem;
  text-decoration: underline;
  cursor: pointer;
  padding-left: 0.25rem;
}

.footer-grid {
  width: 100%;
  display: grid;
  justify-content: space-between;
  background-color: hsl(260, 8%, 14%);
  grid-template-columns: repeat(7, 1fr);
  gap: 2rem;
  color: white;
  padding: 40px 0 40px 0;
  min-height: 200px;
}

.footer-grid-2-col {
  grid-column: span 2;
}

.footer-grid div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-logo {
  color: white;
}

.socials-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.socials-icon {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  color: white;
  transition: all 250ms ease-in-out;
}

.socials-icon:hover {
  color: hsl(180, 66%, 49%);
  transform: scale(1.3);
}

.boost-links-banner {
  background-image: url(./images/bg-boost-desktop.svg);
  width: 100%;
  min-height: 100px;
  background-color: hsl(255, 11%, 22%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: hsl(36, 100%, 99%);
  padding: 1.4rem 0 1.4rem 0;
  margin-top: 5rem;
}

.boost-links-banner h2 {
  font-size: 2rem;
  font-weight: 700;
  padding: 1.4rem 0 1.4rem;
}

.footer-resources-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: space-between; */
}

.footer-resources-list ul {
  /* padding-top: 1.2rem; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-resources-list h4 {
  font-size: 1.4rem;
  padding-bottom: 1.2rem;
}

.footer-resources-list ul li {
  padding-bottom: 1.2rem;
}

.footer-resources-list a {
  font-size: 1.2rem;
  color: hsl(257, 7%, 63%);
}

#footer-logo-container {
  align-items: center;
}
/* MEDIA QUERIES */

@media (max-width: 900px) {
  .nav-links {
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 10%;
    right: 5%;
    width: 90%;
    text-align: center;

    background-color: hsl(255, 11%, 22%);
    transform: translateY(180%);
    z-index: 4;
    height: 50%;
    border-radius: 15px;
  }

  .nav-links ul,
  .nav-links ul li,
  .nav-item,
  .nav-item-nav-btns {
    width: 80%;
    margin: 0;
  }

  .navbar ul li,
  .nav-item {
    margin-left: 0;
    padding-right: 0;
  }

  .nav-item:nth-of-type(1) {
    margin-left: 0;
  }
  .nav-links-container {
    display: flex;
    flex-direction: column;
    z-index: 4;
  }

  .dashboard-grid-infoboard {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }

  .infoboard-article img {
    left: calc(50% - 40px);
  }

  .infoboard-article span {
    width: 0.5rem;
    height: 4rem;
    left: calc(50% - 0.25rem);
    top: 100%;
    right: 0;
  }

  .infoboard-article {
    text-align: center;
  }

  .lowered-article-1,
  .lowered-article-2 {
    margin-top: calc(4rem + 40px);
  }
  .navbar ul li a,
  .nav-item {
    margin: 2.5rem 0;
    font-size: 1.5rem;
    color: white;
  }

  .shorten-link-container {
    margin-top: 3rem;
  }

  .shorten-link-form {
    padding: 30px 20px;
  }

  .shorten-link-form form {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .shorten-link-form form input,
  .shorten-link-form form button {
    padding: 10px 15px;
  }

  .shorten-btn {
    max-width: none;
    margin-top: 1rem;
    width: 100%;
    padding: 10px 30px 10px 30px;
  }

  .shorten-link-form {
    background-image: url(./images/bg-shorten-mobile.svg);
  }

  .shorten-link-form input {
    width: 90%;
  }

  .nav-links-container svg {
    width: 100%;
  }
  .toggle-btn {
    display: block;
    position: fixed;
    top: 40px;
    right: 0px;
    z-index: 5;
  }

  .sign-up-btn {
    margin-top: 1rem;
    padding: 10px 20px;
  }

  .burger-menu-btn {
    font-size: 2rem;
    color: black;
    padding: 40px;
  }

  .nav-btns-container {
    display: none;
  }

  #nav-btns-container-mobile {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(255, 255, 255, 0.224);
    width: 100%;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .nav-open {
    transform: translateX(0);
  }

  .transform-animation {
    transition: transform 300ms cubic-bezier(0.5, 0, 0.5, 1);
  }

  .nav-item a {
    color: white;
  }

  header {
    position: sticky;
    top: 0;
    background-color: hsl(36, 100%, 99%);
    height: 10vh;
    z-index: 4;
    width: 100%;
    padding: 0;
  }

  .hero {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 0;
    justify-content: center;
    place-items: center;
    text-align: center;
    margin: auto;
  }

  .hero-description {
    text-align: center;
    align-items: center;
  }

  .hero-img-container {
    grid-column: span 2;
    grid-row-start: 1;
  }

  .hero-img-container img {
    height: 100%;
    width: 100%;
    object-fit: fill;
  }
  main {
    width: 100%;
  }

  .navbar {
    width: 90%;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar {
    padding: 20px 0 20px 0;
  }

  .navbar img {
    position: relative;
  }

  .toggle-btn {
    top: 40%;
    position: absolute;
    padding-right: 0;
  }

  .news-block {
    width: 90%;
  }

  .articles-grid {
    width: 70%;
  }

  .articles-grid article {
    margin-bottom: 2rem;
  }

  .hero-main-article {
    margin-bottom: 2rem;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .articles-grid {
    display: block;

    padding: 4rem 0 4rem 0;
  }

  .footer-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer-grid div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer-grid div ul li a {
    text-align: center;
  }

  .footer-resources-list ul {
    align-items: center;
  }

  .boost-links-banner h2 {
    font-size: 1.5rem;
  }

  /* .footer-grid-2-col {
    grid-column: span 1;
  } */
}

@media (max-width: 500px) {
  .hero-image-container img {
    content: url(./images/image-web-3-mobile.jpg);
  }

  .articles-grid {
    width: 90%;
  }
}
